In [13]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
!pip install pymysql

In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip install --upgrade sqlalchemy

In [14]:
user = "root"
senha = "xr3KnJenQbB4qFu9gmvx"
banco_de_dados = "mercado_br"
host = "localhost"
porta = 3306
    
conexao = create_engine(url=f"mysql+pymysql://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

In [15]:
cotacoes_weg = pd.read_sql('''
SELECT dt.datetime, c.stockCodeCompany, c.nameCompany, df.closeValueStock 
FROM dados_fechamento as df
INNER JOIN cadastro_empresas as c on c.keyCompany = df.keyCompany
INNER JOIN descricao_tempo as dt on dt.keyTime = df.keyTime
WHERE c.stockCodeCompany = "WEGE3" AND dt.datetime BETWEEN 2018 AND 2022;
''', con = conexao)

AttributeError: 'OptionEngine' object has no attribute 'execute'

In [ ]:
cotacoes_weg

In [ ]:
base_cotacoes = pd.read_sql('''
SELECT dt.datetime, c.stockCodeCompany, c.nameCompany, df.closeValueStock FROM dados_fechamento as df
INNER JOIN cadastro_empresas as c on c.keyCompany = df.keyCompany
INNER JOIN descricao_tempo as dt on dt.keyTime = df.keyTime
ORDER BY dt.datetime
''', con = conexao)

In [ ]:
base_cotacoes

In [ ]:
cadastro_empresas = pd.read_sql('''SELECT * from cadastro_empresas''', con = conexao)

In [ ]:
cadastro_empresas